*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header-page{
  background-color:#D3D3D3; 
  color: #ffdead; 
  padding: 10px; 
}
body {
  background-color: #87CEFA;
}

th, td {
    border: 2px solid black;
    border-radius: 10px;
    background-color:silver;
    font-size:x-large;
    text-align: center;
}
.foto-redonda1{
  border-radius: 60%;
}

  