*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
.header-page{
  background-color:#D3D3D3; 
  padding: 10px; 
}

body {

  background-color: 	#A7C7E7;
}

h1,h2,h3,h4{
  font-family: Arial, Helvetica, sans-serif;
}


th, td {
  padding: 10px 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;
  border: 2px solid rgb(51, 50, 51);
  background-color: #275c90;
  border-radius: 70px;
}
.foto-redonda1{
  border-radius: 60%;
}
.foto-redonda2{
  border-radius: 60%;
  width: 200px;
  height: 200px;
  align-items: left;
}
.container{
  height: 100%;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}
.containeralt{
  height: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.box{
  width: 20%;
  height: 250px;
  background-color: #b4d3b2;
  border: 1px solid black;

}
.box h1{
  font-size:larger;
  text-align: center;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
}
.box h2{
  font-size:small;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.linhazinha{
    display:block;   
    background : #275c90; 
    height:8px; 
    width:350px;
}
footer {
  position: absolute;
  bottom: 0 ;
  background-color: #275c90;
  color: #FFF;
  width: 100%;
  height: 20px;    
  text-align: center;
}